.body-page {
    margin-top: 200px;
}

.container-card {
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info-description {
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.card:hover .icon {
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.icon {
    width: 100%;
    height: 220px;
    background: #eff3f5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.icon img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.info-description {
    width: 100%;
    height: 220px;
    color: #474747;
    background: #eff3f5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}



.info-description p {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.info-description input {
    margin-top: 20px;
    padding: 20px 40px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info-description input:hover {
    box-shadow: 1px 1px 30px -5px #20202070;
}

/* Color de las Cards */

.c1:hover .icon {
    background-image: url(../pages/Alice/assets/Alice\ SBS.jpg);
}

.c2:hover .icon {
    background: #146eb0;
}

.c3:hover .icon {
    background: #e8b600;
}

@media (max-width:425px) {
    .body-page {
        margin-top: 20px;
    }
}