.trailer,
.episode-uno {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}

.active {
    visibility: visible;
    opacity: 1;
}

.trailer .content-iframe {
    width: 1280px;
    height: 720px;
}

.content-episode-uno {
    background: #ddd;
    width: 1280px;
    height: 720px;
}

.content-iframe iframe {
    width: 100%;
    height: 100%;
    outline: none;
}

.content-episode-uno iframe {
    width: 100%;
    height: 100%;
    outline: none;
}

.close,
.close-uno {
    width: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
}

@media screen and (max-width: 768px) {
    .trailer .content-iframe {
        width: 530px;
        height: 305px;
    }

    .content-episode-uno {
        width: 530px;
        height: 305px;
    }

    .content-iframe iframe {
        width: 100%;
        height: 100%;
        outline: none;
    }

    .content-episode-uno iframe {
        width: 100%;
        height: 100%;
        outline: none;
    }
}

@media screen and (width: 1024px) {
    .trailer .content-iframe {
        width: 760px;
        height: 515px;
    }

    .content-episode-uno {
        width: 760px;
        height: 515px;
    }

    .content-iframe iframe {
        width: 100%;
        height: 100%;
        outline: none;
    }

    .content-episode-uno iframe {
        width: 100%;
        height: 100%;
        outline: none;
    }
}